extends layout

block content
  .jumbotron
    h1 Bezoekers
    p.leader De volledige lijst van bezoekers welke in de database staan met de check of het mailversturen gelukt is
      p Dit zegt niks over of de protagonist mailserver mailadressen heeft gebounced
  .row
    .col-xs-3
      h4 Naam
    .col-xs-3
      h4 Verwerkt
    .col-xs-3
      h4 Aanmaakdatum
    .col-xs-3
      h4 Emailadres
  - var values = attendeeList;
    each val in values.length ? values : ['There are no values']
      .row
        .col-xs-3
          p= '(' + val.Id + ')' + ' ' + val.Initials + ' ' + val.Surname
        .col-xs-3
          input(type='checkbox', checked=val.Errorlog == null, onclick='return false')
        .col-xs-3
          p=val.CreatedDateTime
        .col-xs-3
          p= val.Emailaddress