extends layout

block content
  .jumbotron
    h1 Bezoekers
  .row
    .col-xs-3
      h4 Initialen
    .col-xs-3
      h4 Verwerkt
    .col-xs-3
      h4 Emailadres
  - var values = attendeeList;
    each val in values.length ? values : ['There are no values']
      .row
        .col-xs-3
          p= (val.Id) + val.Initials + ' ' + val.Surname
        .col-xs-3
          input(type='checkbox', checked=val.Processed)
        .col-xs-3
          p= val.Emailaddress